@import "tailwindcss";

header{
    background-color: #673A6B;
    width: 100%;
}
.HeaderImg{
    height: 8rem;
    width: 8rem;
    padding: 1rem;
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 5rem;
    background-color: #673A6B;
}
.LogFull{
    display: flex;
    justify-self: end;
    
    
}
.LogDiv{
    border: solid rgb(194, 194, 194) 1px;
    padding: 2rem;
    margin: 1rem;
    height: 90%;
}

.Log-h3{
    margin-top: 1rem;
}
.Log-input{
    margin-top: 1rem;
    width: 90%;
    background-color: #E2CEFF;
    border: none;
    border-radius: 5px;
}


#Log-link{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
}

.Log-btn{
    background-color: #EDE7F9;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    
}

#Log-return{
    background-color: #EDE7F9;
    border: none;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    
@theme {
    --color-fond-btn: #EDE7F9;
    --color-fond-page: #F6F6F6;
    --color-fond-tableau:#D9D9D9;
    --color-titre: #E2CEFF;
    --color-texte: #000000;
    --color-texte-date: #777777;
}